<div>
  <h1>Quem Somos</h1>
</div>
<div>
  <h2>Jonas de Moraes Custódio</h2>
  <h3>Backend Developer and RPG Enthusiastic</h3>
  <p>Jogador desde pequeno, sempre foi um adorador de jogos japonês e mais tardes, RPGs de mesa.</p>
</div>
<div>
  <h2>Matheus Ribeiro Raduan</h2>
  <h3>Frontend Developer</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis urna facilisis, consectetur eros in, vulputate ex. Sed nibh leo, mattis at mattis ac, volutpat in lorem. Vestibulum id malesuada felis, id auctor nulla. Vestibulum eu nulla eu velit eleifend condimentum ut id felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ultrices, augue a ultricies dictum, est erat efficitur urna, vel pretium augue leo quis lorem. In at auctor mauris. </p>
</div>
