h1 {
  color: white;
  text-align: center;
  background-color: black;
  padding-top: 0px;
  padding-left: 0px;
  border: 0px;
  margin: 0px;
}

div {
  padding-left: 0px;
  padding-bottom: 0px;
}

h2 {
  padding-top: 0px;
  padding-bottom: 2px;
  margin-top: 10px;
  margin-bottom: 2px;
}

h3 {
  margin-top: 0px;
  margin-left: 5px;
  margin: 0px 5px 5px 0px;
  font-style: italic;
}

p {
  padding-left: 20px;
  padding-right: 0px;
  margin-top: 0px;
}

* {
  font-family: Verdana;
}
