li {
  display: inline;
  padding: 5px;
  border-width: 0px;
  height: 100%;
  vertical-align: central;
}

ul {
  background-color: darkgrey;
  padding: 0px;
  margin: 0px;
  width: 100%;
  position: sticky;
  overflow: hidden;
  height: 50px;
  vertical-align: central;
}
