div {
  height: 150px;
  background-color: darkblue;
  margin-top: 0px;
}

h1 {
  font-family: 'Lucida Sans Unicode';
  color: white;
  height: 10px;
  text-align: center;
  padding-top: 75px;
  margin: 0px;
  

}
